@{
    ViewData["Title"] = "Home Page";
}
@model List<RaporCategoryResponseDto>
<table>
    <thead>
        <tr>
            <td>
                Kategori Adı
            </td>
            <td>
                Ürün sayısı
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CategotyName
                </td>
                <td>
                    @item.ProductCount
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div id="exchangeRate">
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: '/ExchangeRate/ListAsyncJson',
                    type: 'GET',
                    success: function (response) {
                        var newSeries = response;

                        var exchangeRates = response;
                        var html = ''
                        exchangeRates.forEach(function (exchangeRate) {
                            html = html + '<h6>' + exchangeRate.currencyName + '</h6>' + '<h6>' + exchangeRate.forexBuying + '</h6>'
                        });

                        $('#exchangeRate').html(html);
                    },
                    error: function (xhr, status, error) {
                        console.error('İstek başarısız:', error);
                    }
                });
            }, 10000);
        });
    </script>
}