@model DetailPropertyDto

<div class="form-group">
    <label asp-for="Key"></label>
    <input asp-for="Key" class="form-control" />
    <span asp-validation-for="Key" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Value"></label>
    <input asp-for="Value" class="form-control" />
    <span asp-validation-for="Value" class="text-danger"></span>
</div>
